
gunicorn
langchain
langchain-community
langchain-google-genai
langchain-pinecone
pinecone-client # new added
pinecone
pypdf
python-dotenv
google-genai 

PyMuPDF==1.26.0
requests==2.32.5
Flask==3.1.2
Werkzeug==3.1.3
